services:
  - type: web
    name: lunchoice
    plan: free
    region: oregon
    env: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"

    migrateCommand: "bundle exec rails db:migrate && bundle exec rails db:seed"
    
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: lunchoice-db
          property: connectionString

      - key: RAILS_MASTER_KEY
        value: "dummy_master_key_set_on_render_ui" 
        
      - key: WEB_CONCURRENCY
        value: 2

databases:
  - name: lunchoice-db
    plan: free
    region: oregon