<% if object.errors.any? %>
  <div class="alert alert-danger">
    <h4 class="alert-heading">
      <%= object.errors.count %> 件のエラーにより、<%= object.class.model_name.human %> を保存できませんでした：
    </h4>
    <hr>
    <ul class="mb-0">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>